html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-size: 14px;
  font-family: arial,sans-serif;
  color: #222;
}

nav {
  display: flex;
  justify-content: space-between;
}

#left-header-block, #right-header-block {
  display: flex;
  align-items: center;
  margin-top: 6px;
  padding-left: 30px;
}

#about-link {
  margin-right: 5px;
}

#store-link {
  margin-left: 18px;
}

a {
  text-decoration: none;
}