html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-size: 14px;
  font-family: arial,sans-serif;
  color: #222;
}

nav {
  display: flex;
  justify-content: space-between;
}

#left-header-block, #right-header-block {
  display: flex;
  align-items: center;
  margin-top: 6px;
  margin-bottom: 7px;
  padding-left: 26px;
}

#about-link {
  margin-right: 5px;
}

#store-link {
  margin-left: 18px;
}

a {
  text-decoration: none;
}

#user-avatar{
  border-radius: 50%;
  margin-right: 15px;
}

#google-apps {
  border-radius: 50%;
}

#gmail-link {
  margin-right: 23px;
}

#images-link {
  margin-right: 20px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logo {
  margin-top: 145px;
}

#search-bar {
  display: flex;
  align-items: center;
  border: 1px solid rgb(211, 207, 207);
  border-radius: 24px;
  margin-top: 23px;
  padding-right: 20px;
  width: 580px;
  height: 43px;
}

#magnifying-glass-icon {
  margin-left: 13px;
}

#input-box {
  flex-grow: 1;
  height: 40px;
  outline: none;
  border: 0;
}

#search-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}

button {
  height: 34px;
  margin: 0 5px;
  font-family: arial, sans-serif;
  font-size: 14px;
  border-radius: 5px;
  border-color: transparent;
}

footer {
  background-color: #f2f2f2;
  border-top: 1px solid rgb(211, 207, 207);
}

.footer-block {
  display: flex;
  align-items: center;
}

#footer-bar {
  position: fixed;
  bottom: 0;
  min-width: 100%;
}

#left-footer-block {
  padding-left: 26px;
}

#right-footer-block {
  padding-right: 26px;
}

#ad-link {
  margin-right: 5px;
}

#biz-link {
  margin-left: 18px;
  margin-right: 5px;
}

#hsw-link {
  margin-left: 18px;
}

#settings-link {
  margin-left: 5px;
}

#terms-link {
  margin-right: 18px;
  margin-left: 5px;
}

#privacy-link {
  margin-right: 18px;
}